.wrapper{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box{
    background-color: #30312f;
    color: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}