p.float-end
    a(href='#') Ir arriba
p
    | &copy; 2017&ndash;2021 Company, Inc. &middot;
    a(href='#') Privacidad
    |  &middot;
    a(href='#') T&eacute;rminos y condiciones
    |  &middot;
    a(href='#') Ayuda
