// Navbar
nav.navbar.navbar-expand-lg.navbar-light.bg-light
    // Container wrapper
    .container-fluid
        // Toggle button
        button.navbar-toggler.hamburger.hamburger--collapse(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.hamburger-box
                span.hamburger-inner
        // Collapsible wrapper
        #navbarSupportedContent.collapse.navbar-collapse
            // Navbar brand
            a.navbar-brand(href='index.html')
                i.fas.fa-tags
                |  Tienda Online
            // Left links
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                //li.nav-item
                    a.nav-link(href='login.html') Login
                li.nav-item
                    a.nav-link(id='pago' href='checkout.html') Formulario de pago
                li.nav-item
                    a.nav-link(id='productos' href='product_list.html') Lista de productos
                //li.nav-item
                    a.nav-link(href='perfil.html')
                        | Perfil
                //li.nav-item
                    a.nav-link(href='shopping_car.html')
                        i.fas.fa-shopping-cart
                        |  Ver carrito
            form.d-flex.me-2(method='get' action='search.html')
                .input-group.w-100
                    input.form-control(type='search' name='q' placeholder='Buscar artículos' aria-label='Search')
                    .input-group-append
                        button.btn.btn-outline-success(type='submit')
                            i.fa.fa-search
            // Left links
        // Collapsible wrapper
        // Right elements
        .d-flex.align-items-center
            // Carrito
            a#navbarDropdownMenuLink.text-reset.me-3.dropdown-toggle.hidden-arrow(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                i.fas.fa-shopping-cart
                span.badge.rounded-pill.badge-notification.bg-danger 4
            ul.dropdown-menu.dropdown-menu-end.p-4.shadow(aria-labelledby='navbarDropdownMenuLink')
                li
                    h4
                        span.text-dark Carrito de compras
                li.mb-2
                    span.text-muted No tiene elementos en su carrito de compras :(
                li
                    a.btn.btn-danger(href='#') Ir al carrito
            // Notifications
            a#navbarDropdownMenuLink.text-reset.me-3.dropdown-toggle.hidden-arrow(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                i.fas.fa-bell
                span.badge.rounded-pill.badge-notification.bg-danger 1
            ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdownMenuLink')
                li
                    a.dropdown-item(href='#') Some news
                li
                    a.dropdown-item(href='#') Another news
                li
                    a.dropdown-item(href='#') Something else here
            // Avatar
            a#navbarDropdownMenuLink.dropdown-toggle.d-flex.align-items-center.hidden-arrow(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                img.rounded-circle(src='https://mdbootstrap.com/img/new/avatars/2.jpg' height='25' alt='' loading='lazy')
            ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdownMenuLink')
                li
                    a.dropdown-item(href='#') Mi perfil
                li
                    a.dropdown-item(href='#') Opciones
                li
                    a.dropdown-item(href='#') Cerrar Sesión
        // Right elements
    // Container wrapper
// Navbar
